[submodule "collisionSimulation"]
	path = collisionSimulation
	url = https://github.com/CodingRub/collisionSimulation

[submodule "ecosystem"]
	path = ecosystem
	url = https://github.com/CodingRub/ecosystemSimulation

[submodule "Shoot"]
	path = Shoot
	url = https://github.com/CodingRub/diepioCopycat