@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --primary: #F5E7DF;
    --secondary: #7F8C4D;
    --color-text: #E4DDD3;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary);
}

a {
    text-decoration: none;
}


nav {
    top: 0;
    width: 100%;
    background-color: var(--secondary);
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.custom-shape-divider-top-1663266659 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1663266659 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 54px;
}

.custom-shape-divider-top-1663266659 .shape-fill {
    fill: var(--secondary);
}

.logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-text);
}

.menu-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.element-list {
    padding: 0 10px;
}

.element-list a {
    color: var(--color-text);
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.menu-toggle {
    font-size: 1.8rem;
    color: var(--color-text);
    font-weight: 600;
    display: none;
    transition: ease .35s;
}

.home {
    background-image: url(background.svg);
    background-repeat:no-repeat!important;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.portfolio-bkgd {
    position: absolute;
}

.home .imgBx {
    width: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    height: 200px;
}

.home .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .textBx {
    text-align: center;
}

.home .textBx p {
    text-transform: capitalize;
}

h3 {
    position: relative;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
}

p {
    margin-top: 0;
    font-size: 0.9rem;
    letter-spacing: 1.3px;
}

.btn {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    background-color: black;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 10px;
    text-decoration: none;
}

.socialMedia {
    position: absolute;
    bottom: 20px;
    display: flex;
    padding: 0;
}

.socialMedia li {
    list-style: none;
}

.socialMedia li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    color: var(--color-text);
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.2em;
}

.socialMedia li a:hover {
    background-color: white;
}

section {
    padding: 8% 0;
}

.title {
    width: 100%;
    text-align: center;
}

.title h2 {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
    margin: 0;
    font-weight: 600;
    margin-bottom: 50px;
}

.title h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
    width: 75px;
    height: 1px;
    background-color: black;
}

.portfolio {
    position: relative;
    background-image: url(background.svg);
    background-repeat:no-repeat!important;
    background-size: cover;
}



.portfolio .content {
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
}

.portfolio .content .workBx {
    height: 300px;
    width: 300px;
    padding: 20px 35px;
    background-color: var(--dark-color);
    border-radius: 15px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.portfolio .content .workBx .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .content .workBx .textBx {
    color: white;
    background-color: rgba(0, 0, 0, 0.216);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0);
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolio .content .workBx:hover .textBx {
    background-color: rgba(0, 0, 0, 0.801);
}


.portfolio .content .workBx .textBx .code {
    display: none;
    background-color: transparent;
    color: var(--color-text);;
    font-weight: bold;
    border: 3px solid white;
    padding: 5px 20px;
    position: absolute;
    bottom: 80px;
}

.portfolio .content .workBx:hover .textBx .code {
    display: block;
}

.portfolio .content .workBx .textBx .project {
    display: none;
    background-color: transparent;
    color: var(--color-text);
    font-weight: bold;
    border: 3px solid white;
    padding: 5px 20px;
    position: absolute;
    bottom: 20px;
}

.portfolio .content .workBx:hover .textBx .project {
    display: block;
}


.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary);
    position: relative;
    color: var(--color-text);
}

.about-img img {
    max-width: 100%;
    width: 500px;
    height: auto;

}

.about-text h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.about-text h5 {
    font-size: 20px;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    letter-spacing: 1px;
    line-height: 28px;
    max-width: 590px;
}

.btn {
    display: inline-block;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    font-weight: 600;
    padding: 13px 30px;
    border-radius: 30px;
    transition: ease .35s;
}

.custom-shape-divider-bottom-1663263797 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663263797 svg {
    position: relative;
    display: block;
    width: calc(112% + 1.3px);
    height: 105px;
}

.custom-shape-divider-bottom-1663263797 .shape-fill {
    fill: var(--secondary);
}

.custom-shape-divider-bottom-1663264097 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1663264097 svg {
    position: relative;
    display: block;
    width: calc(119% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1663264097 .shape-fill {
    fill: var(--secondary);
}


.custom-shape-divider-top-1663266888 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1663266888 svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 44px;
}

.custom-shape-divider-top-1663266888 .shape-fill {
    fill: var(--secondary);
}

.footer {
    text-align: center;
    background-color: var(--secondary);
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}

.custom-shape-divider-bottom-1663279104 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663279104 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
}

.custom-shape-divider-bottom-1663279104 .shape-fill {
    fill: #7F8C4D;
}

.footer p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-text)
}

.networks {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 1rem;
    align-items: center;
}

.networks ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    width: 200px;
    padding: 0 50px;
}

.networks span {
    width: 100%;
    height: 2px;
    background-color: var(--primary);
}

.networks ul li a {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.8rem;
    transition: ease .35s;
}

.networks ul li a:hover {
    color: #D8BB9C;

}



@media only screen and (max-width: 800px) {
    .menu-list {
      display: none;
    }

    .menu-toggle {
        display: flex;
    }
}